body {
  font-family: Helvetica,Arial,sans-serif;
  line-height: 20px;
  margin: 0px 0px 0px 20px;
  font-size: 14px;
  background-color: #94cff3;
}
#Title,#char,#choose{
  /*position: relative;*/
  margin-left: 250px;
  margin-right: 300px;
  visibility: visible;
  display:flex;
  justify-content:center;
}
#cont{
  /*position: relative;*/
  width: 25%;
  height:auto;
  margin-left: 475px;
  margin-right: 30px;
  margin-top: 80px;
  visibility: visible;
  display:flex;
  justify-content:center;
}
#option1,#option2,#option3,#option4{
  /*position: relative;*/
  width: 20%;
  height:auto;
  margin-left: 475px;
  margin-right: 30px;
  margin-top: 40px;
  visibility: visible;
  display:flex;
  justify-content:center;
}
#luffy,#sanji{
  width: 20%;
  height:auto;
  margin-left: 360px;
  margin-right: 30px;
  visibility: visible;
  
}
#zoro,#law{
  width: 20%;
  height:auto;
  visibility: visible;
 
}
#luff,#zor,#sanj,#la{
  width:30%;
  margin-left: 400px;
}
#rock,#paper,#sciss{
  width:20%;
  margin-left: 120px;
  margin-top: 120px;
}
img {
  border: 0 none;
/*margin-left: 1px;*/
}

img[id*='shadow'] {
opacity: 1;
}

#name {
  color: red;
}

#gameboard {
  width: 400px;
  height: 500px;
  margin-left: 0px;
  margin-right: auto;
  background-color: black;
  background: url("./images/background2.jpg") repeat;
  position: relative;
}

#cover {
  position: absolute;
  top: 5px;
  left: 5px;
  margin: 0px;
  padding: 0px;
  visibility: visible;
}

.attempt {
  margin: 6px 0px 6px 0px;
  padding: 0px;
  width: 400px;
  height: 50px;
}

#acceptcode {
  position: absolute;
  top: 450px;
  left: 250px;
  width: 150px;
  height: 50px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

#acceptcode input{
  margin-top: 12px;
  padding: 6px 6px;
  text-align: center;
  padding: 3px 6px 3px;
  border-width: 2px;
  border-radius: 6px;
}